body{
  padding: 10px;
    background-color: hsl(180, 13%, 6%);
    color: #fff;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  
  .titlebar{
    margin-bottom: 10px;
  }
  
  .calculatorblock{
    width: 60%;
    margin-bottom: 10px;
    padding: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #999;
    color: white;
  }
  
  #cashblock{
    margin-bottom: 0.5rem;
  }
  
  #cashflex{
    display: flex;
    flex-flow: cloumn;
    margin-bottom: 0.5rem;
  }
  
  .otheritem{
    margin-bottom: 0.5rem;
  }
  
  
  
  /* CSS */
  button {
    align-items: center;
    background-color: #202c37;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1rem;
    padding: 0.4rem 0.9rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  button:hover {
    background-color: #374151;
  }
  
  button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  /*@media (min-width: 768px) {
    button {
      padding: .45rem 1.5rem;
    }*/
  
  
  .otherpaymenttitle{
    padding: 0rem;
    margin-right: 1rem;
    color: black;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
    box-sizing: border-box;
    border-radius: .75rem;
    cursor: pointer;
    line-height: 1rem;
    padding: 0.4rem 0.9rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    border: none;
    width: auto;
    font-size: 1rem;
    font-weight: 600;
  }
  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

  #sidebar {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background: hsl(180, 13%, 6%);
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    padding: 20px;
    transition: right 0.3s;
    overflow-y: auto;
}
#sidebar.open {
    right: 0;
}